
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  line-height: 18px;

  text-decoration: none;

  color: $dark-bluish-black;

  opacity: 1;
  transition: opacity 0.2s;

  &:hover,
  &:focus {
    .copyright__icon {
      fill: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: $dull-gray;

  transition: fill 0.2s;

  @media (min-width: $viewport-tablet) {
    margin-left: 22px;
  }
}
