
.example{
  background-color: $silver;

  @media (min-width:$viewport-tablet) {
    background-image: linear-gradient(to top,$silver 462px, $white 462px);
  }
}

.example__inner{

  @media (min-width:$viewport-tablet) {
    padding-top: 43px;
    padding-bottom: 64px;
  }

  @media (min-width:$viewport-desktop) {
    display: grid;
    grid-template-columns: 1fr 650px;
    grid-column-gap: 134px;
  }
}

.example__description{
  margin-bottom: 42px;

  @media (min-width:$viewport-tablet) {
    margin-bottom: 60px;
  }
}

.example__title{
  @include font(400,36px,40px,'Oswald');

  margin: 27px 0 33px;

  color: $black;

  @media (min-width:$viewport-tablet) {
    margin: 0 0 63px;

    font-size: 60px;
    line-height: 60px;
  }
}

.example__text{
  margin: 0 0 25px 0;

  font-size: 14px;
  line-height: 18px;

  color: $dark-bluish-black;

  @media (min-width:$viewport-tablet) {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 54px;
  }

  p{
    padding-right: 12px;
    margin: 0 0 15px 0;
  }
}

.example__stats{

  @media (min-width:$viewport-tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width:$viewport-desktop) {
    flex-direction: column;
  }
}

.example__stats-inner{
  display: flex;
  justify-content: center;
}

.example__stats-numbers{
  width: 124px;

  position: relative;

  padding: 15px 0 17px;
  margin: 0 31px 0 0;

  border: 1px solid $gainsboro;
  border-radius: 3px;

  @include font(400,24px,24px,'Oswald');

  text-align: center;
  color: $black;

  &:last-child{
    margin-right: 0;
  }

  @media (min-width:$viewport-tablet) {
    width: 162px;

    padding: 20px 0;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats-name {
  position: absolute;
  left: 50%;
  bottom: -15px;

  padding: 0 14px;

  background-color: $silver;

  @include font(400,12px,12px,'Arial');

  color: $dark-bluish-black;

  transform: translateX(-50%);

  @media (min-width:$viewport-tablet) {
    bottom: -6px;
    width: 88%;

    padding: 0 0;

    background-color: $white;

    font-size: 14px;
    line-height: 14px;

    .example__stats-numbers:first-child &{
      width: 70%;
    }
  }
}

.example__stats-text{
  margin: 34px 0 0 0;

  @include font(400,14px,20px,'Oswald');

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  @media (min-width:$viewport-tablet) {
    align-self: center;

    margin-top: 0;

    font-size: 20px;
    line-height: 26px;

    text-align: right;
  }

  br{
    display: none;

    @media (min-width:$viewport-tablet) {
      display: block;
    }
  }
}

.example__cat{
  margin: 0 0 25px 0;

  @media (min-width:$viewport-tablet) {
    margin-bottom: 0;
  }
}
