
.footer{
  background-color: $basic-grey;
}

.footer__inner{
  padding: 39px 0 22px 0;

  @media (min-width:$viewport-tablet) {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
    align-items: center;
  }

}

.footer__logo{

  @media (max-width:$viewport-only-mobile) {
    width: 128px;
    height: 24px;

    margin: 0 auto 32px auto;
  }
}

.footer__social{

  @media (max-width:$viewport-only-mobile) {
    padding: 20px 0 21px;
    margin: 0 0 22px 0;
  }
}
