
.form {
  user-select: none;

  @media (min-width:$viewport-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width:$viewport-tablet) {
    padding: 0 37px 0 40px;
  }
}

.form__group{
  margin: 0;
  padding: 0;
  border: 0;

  &:nth-child(1){
    margin-bottom: 27px;

    @media (min-width:$viewport-tablet) {
      margin-bottom: 72px;
    }
  }

  &:nth-child(2){
    padding: 20px 0 22px 0;
    margin-bottom: 26px;

    @media (max-width:$viewport-only-mobile) {
      position: relative;

      &::before{
        content: '';

        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 1px;

        background-color: $abdel-kerims-beards;

        transform: translateX(-50%);
      }

      &::after{
        content: '';

        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 1px;

        background-color: $abdel-kerims-beards;

        transform: translateX(-50%);
      }
    }

    @media (min-width:$viewport-tablet) {
      padding-left: 28px;
      padding-right: 28px;
      margin-bottom: 71px;

      border: 1px solid $pearl-grey;
    }
  }

  &:nth-child(3),&:nth-child(4){
    margin-bottom: 27px;

    @media (min-width:$viewport-tablet) {
      margin-bottom: 65px;
    }
  }

  &:nth-child(5){
    margin-bottom: 34px;

    @media (min-width:$viewport-tablet) {
      margin-bottom: 54px;
    }
  }

  @media (min-width:$viewport-desktop) {
    flex-basis: 100%;
  }

  &--basis_fifty{
    @media (min-width:$viewport-desktop) {
      flex-basis: 46.63%;
    }
  }
}

.form__legend{
  margin: 0 0 34px 0;

  @include font(400,24px,26px,'Oswald');

  color: $black;

  @media (min-width:$viewport-tablet) {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 76px;
  }
}

.form__item{
  @include list;
  display: grid;

  &--columns_two{
    @media (min-width:$viewport-desktop) {
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 78px;
    }
  }

  &--checkbox{
    @media (min-width:$viewport-tablet) {
      grid-template-columns: repeat(2,1fr);
      grid-gap: 32px 124px;
    }

    @media (min-width:$viewport-desktop) {
      grid-template-columns: repeat(4,1fr);
      grid-column-gap: 78px;
    }
  }

}

.form__list{

  .form__item--input &{
    display: flex;
    align-items: center;

    margin: 0 0 14px 0;

    &:last-child{
      margin-bottom: 0;
    }

    @media (min-width:$viewport-tablet) {
      margin-bottom: 20px;
    }
  }

  .form__item--radio &{
    padding: 6px 0 0 45px;
    margin: 0 0 13px 0;

    &:last-child{
      margin-bottom: 0;
    }

    @media (min-width:$viewport-tablet) {
      padding-top: 9px;
      padding-left: 60px;
    }
  }

  .form__item--checkbox &{
    margin-bottom: 13px;
    padding: 6px 0 6px 46px;

    line-height: 0;

    &:last-child{
      margin-bottom: 0;
    }

    @media (min-width:$viewport-tablet) {
      margin-bottom: 0;
      padding-left: 60px;
    }
  }
}

.form__label{

  @include font(400,16px,18px,'Oswald');

  text-transform: uppercase;
  color: $dark-bluish-black;

  @media (min-width:$viewport-tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &--color_black-brown{
    color: $black-brown;
  }

  &--color_black{
    color: $black;
  }
}

.form__input{
  flex-grow: 1;

  margin: 0 0 0 14px;
  padding: 13px 14px;

  @include font(400,16px,18px,'Oswald');

  text-transform: uppercase;
  color: $dark-bluish-black;

  border: 1px solid $pearl-grey;
  outline: 0;

  transition: border 0.2s;

  &:hover {
    border-color: $gainsboro;
  }

  &:focus {
    outline: 2px solid $dark-bluish-black;
    outline-offset: -1px;
  }

  &:invalid{
    outline: 2px solid #FF8282;
    outline-offset: -1px;
  }

  @media (min-width:$viewport-tablet) {
    padding: 10px 11px;

    font-size: 20px;
    line-height: 30px;
  }

  &--email {
    margin-right: -20px;
    padding-right: 50px;

    &:focus + .form__input-icon{
      fill: $basic-green;
    }

    &:invalid + .form__input-icon{
      fill: $status-error;
    }
  }

  &--tel {
    margin-right: -20px;
    padding-right: 50px;

    &:focus + .form__input-icon{
      fill: $basic-green;
    }

    &:invalid + .form__input-icon{
      fill: $status-error;
    }
  }

  &--textare a{
    height: 150px;

    padding: 13px 12px 13px 15px;
    margin-left: 0;

    resize: none;

    @media (min-width:$viewport-tablet) {
      height: 174px;
    }
  }
}

.form__radio {

  &:focus + .form__label::before {
    box-shadow: 0 0 0 2px $dark-bluish-black;
  }

  & + .form__label {
    position: relative;
    cursor: pointer;

    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
      &::before {
        border-color: $light-silver;
      }
    }

    &:active {
      opacity: 0.3;

      &::before {
        border-color: $light-silver;
      }
    }

    &::before {
      content: "";

      position: absolute;
      left: -45px;
      top: -3px;
      width: 30px;
      height: 30px;

      border: 1px solid $gainsboro;
      border-radius: 50%;
    }
  }

  &:checked + .form__label{

    &::after{
      content: '';

      position: absolute;
      left: -37px;
      top: 5px;
      width: 14px;
      height: 14px;

      background-color: $basic-green;

      border-radius: 50%;
    }
  }

  @media (min-width:$viewport-tablet) {

    & + .form__label{

      &::before{
        width: 40px;
        height: 40px;
        top: -6px;
        left: -60px;
      }
    }

    &:checked + .form__label{

      &::after{
        width: 18px;
        height: 18px;
        left: -49px;
        top: 5px;
      }
    }
  }
}

.form__checkbox{

  &:focus + .form__label::before {
    box-shadow: 0 0 0 2px $dark-bluish-black;
  }

  & + .form__label{
    position: relative;
    cursor: pointer;

    opacity: 1;
    transition: opacity 0.2s;

    &:hover {
      &::before {
        border-color: $light-silver;
      }
    }

    &:active {
      opacity: 0.3;

      &::before {
        border-color: $light-silver;
      }
    }

    &::before{
      content: '';

      position: absolute;
      left: -46px;
      top: -3px;
      width: 30px;
      height: 30px;

      border: 1px solid $gainsboro;
    }
  }

  &:checked + .form__label{

    &::after{
      content: '';

      position: absolute;
      left: -40px;
      top: 4px;
      width: 18px;
      height: 10px;

      border-left: 2px solid $basic-green;
      border-bottom: 2px solid $basic-green;

      transform: rotate(-45deg);
    }
  }

  @media (min-width:$viewport-tablet) {

    & + .form__label{
      position: relative;

      &::before{
        width: 40px;
        height: 40px;
        top: -5px;
        left: -60px;
      }
    }

    &:checked + .form__label{

      &::after{
        top: 7px;
        left: -49px;
      }
    }
  }
}

.form__input-icon {
  display: block;
  position: relative;
  right: 17px;

  fill: $black-brown;

  transition: fill 0.2s;
}

.form__button-box{

}

.form__btn{
  width: 100%;

  margin-bottom: 21px;

  @media (min-width:$viewport-tablet) {
    width: 282px;

    margin-right: 61px;
    margin-bottom: 0;
    padding: 16px 45px;

    font-size: 20px;
    line-height: 20px;
  }
}

.form__hint{
  display: block;

  font-size: 14px;
  line-height: 16px;

  color: $black;

  @media (max-width:$viewport-only-mobile) {
    text-align: center;
  }

  @media (min-width:$viewport-tablet) {
    display: inline-block;
  }
}
