
.intro{
  margin-bottom: 22px;

  @media (max-width:$viewport-only-mobile){
    background-color: $basic-green-dark;
    background-image: url(../img/index-background-info-mobile.jpg),
                      linear-gradient(180deg,$basic-green-dark 305px,$white 305px);
    background-position: top center, top center;
    background-size: 320px 305px, auto;
    background-repeat: no-repeat, repeat;

    @media (min-resolution:2dppx){
      background-image: url(../img/index-background-info-mobile@2x.jpg),
                        linear-gradient(180deg,$basic-green-dark 305px,$white 305px);
    }
    @media (min-resolution:3dppx){
      background-image: url(../img/index-background-info-mobile@3x.jpg),
                        linear-gradient(180deg,$basic-green-dark 305px,$white 305px);
    }
  }

  @media (min-width:$viewport-desktop) {
    background-color: $basic-green-extra-dark;
    background-image: url(../img/index-background-info-desktop.jpg),
                      linear-gradient(90deg,$white 50%,$basic-green-extra-dark 50%);
    background-position: top right, top left;
    background-size: 720px auto, auto;
    background-repeat: no-repeat;

    @media (min-resolution:2dppx){
      background-image: url(../img/index-background-info-desktop@2x.jpg),
                        linear-gradient(90deg,$white 50%,$basic-green-extra-dark 50%);
    }
    @media (min-resolution:3dppx){
      background-image: url(../img/index-background-info-desktop@3x.jpg),
                        linear-gradient(90deg,$white 50%,$basic-green-extra-dark 50%);
    }
  }
}

.intro__container{
  min-height: 480px;

  background-image: url(../img/index-can-mobile.png);
  background-position: bottom 40px center;
  background-repeat: no-repeat;
  background-size: 280px auto;

  @media (max-width:$viewport-only-mobile){

    @media (min-resolution:2dppx){
      background-image: url(../img/index-can-mobile@2x.png);
    }
    @media (min-resolution:3dppx){
      background-image: url(../img/index-can-mobile@3x.png);
    }
  }

  @media (min-width:$viewport-tablet) {
    min-height: 874px;

    background-position: bottom 0 center;

    background-image: url(../img/index-can-tablet.png);
    background-size: 709px auto;

    @media (min-resolution:2dppx){
      background-image: url(../img/index-can-tablet@2x.png);
    }
    @media (min-resolution:3dppx){
      background-image: url(../img/index-can-tablet@3x.png);
    }
  }

  @media (min-width:$viewport-desktop) {
    background-image: url(../img/index-can.png);
    background-size: 552px auto;

    @media (min-resolution:2dppx){
      background-image: url(../img/index-can@2x.png);
    }
    @media (min-resolution:3dppx){
      background-image: url(../img/index-can@3x.png);
    }
  }
}

.intro__inner{

  @media (min-width:$viewport-tablet) {
    max-width: 420px;

    margin: 0 0 0 87px;
    padding: 62px 0 0 0;
  }
}

.intro__title{
  margin: 27px 0 25px;

  font-weight: 400;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  line-height: 36px;

  @media (max-width:$viewport-only-mobile) {
    text-align: center;
    color: $white;
  }

  @media (min-width:$viewport-tablet) {
    margin: 0 0 41px;

    font-size: 60px;
    line-height: 60px;

    color: $black;
  }
}

.intro__subtitle{
  margin: 0 0 302px 0;

  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 14px;

  text-transform: uppercase;

  @media (max-width:$viewport-only-mobile) {
    text-align: center;
    color: $white;
  }

  @media (min-width:528px) {
    margin: 0 0 340px 0;
  }

  @media (min-width:$viewport-tablet) {
    margin: 0 0 49px 0;

    font-size: 20px;
    line-height: 20px;

    color: $black;
  }
}

.intro__link{
  width: 100%;

  @media (min-width:$viewport-tablet) {
    width: 244px;
  }
}
