
.line {
  position: relative;
  display: inline-block;

  &::before {
    content: "";

    position: absolute;
    top: 15px;
    left: calc(100% + 22px);

    width: 100vw;
    height: 2px;

    background-color: $basic-green;
  }

  @media (max-width: 381px) {
    &--position__negative {
      &::before {
        left: calc(100% - 76px);
      }
    }
  }

  @media (min-width: $viewport-tablet) {
    &::before {
      top: 23px;
    }

    &::after {
      content: "";

      position: absolute;
      top: 23px;
      right: calc(100% + 40px);

      width: 100vw;
      height: 2px;

      background-color: $basic-green;
    }
  }
}
