
.logo{
  display: block;

  text-decoration: none;

  &[href]{
    opacity: 1;
    transition: opacity 0.2s;

    &:hover{
      opacity: .8;
    }

    &:active{
      opacity: .6;
    }
  }
}

.logo__icon{
  display: block;

  fill: $almost-black;
}

.logo__img{
  display: block;
  width: 100%;
}
