
.menu {
  @include list;

  font-weight: 500;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;

  @media (max-width: $viewport-only-mobile) {
    text-align: center;
  }

  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-wrap: wrap;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 30px;
  }

  &--color_white {
    @media (min-width: $viewport-desktop) {
      .menu__link {
        color: $white;
      }

      .menu__link--active {
        &::before {
          background-color: $white;
        }
      }
    }
  }
}

.menu__item {
  @media (max-width: $viewport-only-mobile) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 1px;
      background-color: $light-gray;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $viewport-tablet) {
    margin: 0 36px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu__link {
  display: inline-block;
  vertical-align: middle;

  padding: 22px 0 24px;

  text-decoration: none;
  color: $black;

  @media (min-width: $viewport-tablet) {
    opacity: 1;

    transition: opacity 0.2s;

    padding: 14px 0 10px 0;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--active {
    position: relative;
    pointer-events: none;
    cursor: default;

    @media (min-width: $viewport-tablet) {
      &::before {
        content: "";

        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;

        background-color: $basic-green;
      }
    }
  }
}
