
.products{

}

.products__inner{

}

.products__list{
  @include list;

  @media (min-width:$viewport-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 59px 60px;
  }

  @media (min-width:$viewport-desktop) {
    grid-template-columns: repeat(4,1fr);
    grid-gap: 63px 80px;
  }
}

.products__item{

  @media (max-width:$viewport-only-mobile) {
    position: relative;

    padding: 19px 0 25px 0;

    &::after{
      content: '';

      width: 100vw;
      position: absolute;
      left: 50%;
      bottom: 0;

      border-bottom: 1px solid $light-tele-grey;

      transform: translateX(-50%);
    }

    &:first-child{

      &::before{
        content: '';

        width: 100vw;
        position: absolute;
        left: 50%;
        top: 0;

        border-bottom: 1px solid $light-tele-grey;

        transform: translateX(-50%);
      }
    }
  }



}
