
.social{

  @media (max-width:$viewport-only-mobile) {
    border-top: 1px solid $abdel-kerims-beards;
    border-bottom: 1px solid $abdel-kerims-beards;
  }

}

.social__list{
  @include list;

  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 0;
}

.social__item{
  margin: 0 35px 0 0;

  &:last-child{
    margin-right: 0;
  }
}

.social__link{
  text-decoration: none;

  &:hover,&:focus{
    .social__icon{
      fill: $basic-green;
    }
  }

  &:active{
    .social__icon{
      fill: $basic-green;
      opacity: .3;
    }
  }
}

.social__icon{
  display: block;

  fill: $dull-gray;

  opacity: 1;
  transition: fill 0.2s,opacity 0.2s;
}
