
.title {
  margin-bottom: 40px;

  @include font(400,36px,44px,"Oswald");

  color: $black;

  @media (max-width: $viewport-only-mobile) {
    position: relative;

    padding-top: 19px;

    &::before {
      content: "";

      width: 100vw;
      position: absolute;
      top: 0;
      left: 50%;

      border-top: 1px solid $abdel-kerims-beards;

      transform: translateX(-50%);
    }
  }

  @media (min-width: $viewport-tablet) {
    margin-top: 65px;
    margin-bottom: 83px;

    font-size: 60px;
    line-height: 60px;
  }


  @media (min-width: $viewport-desktop) {
    margin-top: 74px;
  }

  &--form {
    @media (max-width: $viewport-only-mobile) {
      padding-top: 27px;
      margin-bottom: 37px;
    }

    @media (min-width: $viewport-tablet) {
      margin-bottom: 54px;
    }


    @media (min-width: $viewport-desktop) {
      margin-bottom: 56px;
    }
  }
}
