
//-----===== Базовые переменные ====-----//

// Стили шрифтов по умолчанию
$font-style-basic: normal;
$font-weight-basic: 400;
$font-size-basic: 16px;
$font-family-basic: "Arial", sans-serif;

$line-height-basic: 1.5;

// Контрольные точки
$viewport-only-mobile: 767px;
$viewport-tablet: 768px;
$viewport-desktop: 1280px;

// Цвета
$white: #ffffff;

$basic-grey: #f2f2f2;
$light-gray: #e6e6e6;
$abdel-kerims-beards: #d9d9d9;
$forest-wolf: #d3d3d3;
$light-tele-grey: #ebebeb;
$gainsboro: #cdcdcd;
$silver: #eaeaea;
$pearl-grey: #e7e7e7;
$very-pale-blue: #dcdcdc;
$light-silver: #bababa;
$dull-gray: #666666;

$black: #000000;
$almost-black: #111111;
$black-brown: #222222;
$dark-bluish-black: #444444;

$basic-green-light: #5eaa2f;
$basic-green: #68b738;
$basic-green-dark: #63a73a;
$basic-green-extra-dark: #64a83b;

$status-error: #ff8282;
